<section data-ng-controller="ArticlesController" data-ng-init="findOne()">
	<div class="page-header">
		<h1>Qas</h1>{{article.title}}
	</div>
	<div class="list-group">
		<a data-ng-repeat="qa in articles.qa" data-ng-href="#!/qas/{{article._id}}" class="list-group-item">
			<small class="list-group-item-text">
				Posted on
				<span data-ng-bind="qa.created | date:'mediumDate'"></span>
				by
				<span data-ng-bind="qa.user.displayName"></span>
			</small>
			<h4 class="list-group-item-heading" data-ng-bind="qa.question"></h4>
			<p class="list-group-item-text" data-ng-bind="article.content"></p>
		</a>
	</div>
	<div class="alert alert-warning text-center">
		No qas yet, why don't you <a href="/#!/qas/create">create one</a>?
	</div>
</section>
